@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

html body {
  overflow: hidden;
  font-size: 1em;
}

* {
  margin: 0;
  padding: 0;
}

.icon {
  width: 75%;
  margin: 20px auto;
}

/* nav .side-navigation {
  background-color: #333;
  height: 100vh;
  width: 240px;
  position: fixed;
  transform: translateX(-240px);
  transition: transform 0.3s ease-in-out;
  z-index: 11;
}

nav .side-navigation:after {
  content: '';
  background: #33333399;
  height: 48px;
  width: 50px;
  position: absolute;
  right: -40px;
  top: 50px;
  border-style: solid solid solid none;
  border-color: #333;
  border-width: 3px;
}

nav .side-navigation:hover {
  transform: translateX(0px);
} */

.name {
  kerning: auto;
  padding-left: 30px;
  padding-bottom: 15px;
}

// # PAGE STRUCTURE
.site {
  /* display: flex; */
  min-height: 100vh;
}

header {
  position: fixed;
  margin-left: 20%;
  width: 80%;
  height: 100px;
  top: 0;
  background-color: #fff;
  z-index: 4;
}


.top-nav{
  position: relative;
  height: 50px;
  left: 20%;
  width: 80%;
  top: 0;
}
h1 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffffff;
  font-size: 1.5em;
  right: 0;

}

.introTitle {
  position: relative;
  bottom: 0;
  background-color: #33333399;
  border-style: solid none solid none;
  border-color: #333333;
  border-width: 3px;
  font-size: 1em;
  right: 0;
  padding: 10px 50px;
  text-align: right;
}


.pages {
  list-style: none;
  display: inline;
}
/* .pages-item:hover {

}
.pages-item:hover::before {

} */
.pages-item a {
  font-family: 'Roboto', sans-serif;
  float: right;
  padding: 15px 20px;
  font-weight: 400;
  color: #111;
  text-decoration: none;
}


#home-top {
}
#ani {

}


/* ------------------------------------------------navigation */
.sidebar-area {
  position: fixed;
  background: #333333;
  width: 20%;
  float: left;
  height: 100vh;
}

.side-navigation.fixed {
    float: left;
    height: 100vh;
  }
.side-navigation.menu {
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  list-style: none;
}

.side-navigation .menu-item {
  position: relative;
}

.side-navigation .menu-item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: #639341;
  transition: width .3s ease-in;
}

.side-navigation .menu-item:hover:before {
  width: 100%;
}

.side-navigation .menu-item a {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-kerning: auto;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  display: block;
  padding-top: 15px;
  padding-right: auto;
  padding-bottom: 15px;
  padding-left: 30px;
}

/* -----------------------------------------main information */

.content-topic {
  position: relative;
  top: 100px;
  margin-left: 20%;
  margin-bottom: 0;
  width: 80%;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h2 {
  font-size: 1.2em;
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffffff;
  text-align: center;
}







/* .side-navigation .menu-item {
  color: #eeeeee;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  font-kerning: auto;
  font-weight: 400;
  padding-top: 15px;
  padding-right: auto;
  padding-bottom: 15px;
  padding-left: 30px;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
} */
/* .side-navigation .menu-item:hover {
  transition: width .3s ease-in;
  background-color: #639341;
} */
h3.ddtitle {
  font-family: 'Roboto Slab', serif;
}

@import "compass/css3";

/* Parallax base styles
  --------------------------------------------- */
.parallax {
  position: inherit;
  height: 500px;
  /* fallback for older browsers */
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  -webkit-overflow-scrolling: touch;
  perspective: 300px;
}

.parallax__group {
  position: relative;
  height: 500px;
  /* fallback for older browsers */
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax__layer--fore {
  -webkit-transform: translateZ(90px) scale(.7);
  transform: translateZ(90px) scale(.7);
  z-index: 1;
}

.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
}

.parallax__layer--back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3;
}

.backCrop {
  -webkit-transform: translateZ(300px) scale(2);
  transform: translateZ(300px) scale(2);
  z-index: 3;
}

.parallax__layer--deep {
  -webkit-transform: translateZ(-600px) scale(3);
  transform: translateZ(-600px) scale(3);
  z-index: 2;
}

/* Debugger styles - used to show the effect
  --------------------------------------------- */
.debug {
  position: fixed;
  top: 0;
  left: .5em;
  z-index: 999;
  background: rgba(0, 0, 0, .85);
  color: #fff;
  padding: .5em;
  border-radius: 0 0 5px 5px;
}

/* demo styles
  --------------------------------------------- */
/* .parallax {
  font-size: 1em;
} */
.icon {
  transform: scale(.75);
}

.over1 {
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: 100vh;

  animation: sketch-ani 5s linear infinite;
}

@keyframes sketch-ani {
0%   {opacity: 0;}
50% {opacity: 1}
100% {opacity: 0}
}



.vectorLine {
  position: absolute;
  width: auto;
  height: 100vh;
  width: 600px;
  transform: translateX(-600px);
  transition: transform 1s ease-in-out;

}



.flower {
  position: absolute;
    width: auto;
  height: 100vh;
}

.animationBkg {
  position: absolute;
width: auto;
  height: 100vh;
}
.animationCell {
  position: absolute;
    width: 100%;
  height: 100vh;

}

.processes {
  position: absolute;
    width: 100%;
  height: 100vh;
}

.wood {
  position: absolute;
    width: 100%;
  height:100vh;
}

.appBkg {
  background-color: #ddd;
}

.appPages {
  position: absolute;
  margin-top: 20%;
  margin-bottom: auto;
  width: 40%;
  left: 55%;
}

.ddlogo {
  position: absolute;
  width: 50%;
  left: 55%;
  top: 40px;

  height: auto;
}

.arts {
  width: 100%;
  position: absolute;
  height: auto;
  margin-bottom: 100px;
}

/* centre the content in the parallax layers */
.title {
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  background-color: #22222299;
  border-style: solid none solid solid;
  border-color: #222222;
  border-width: 3px;
  top: 50%;
  right: 0;
  padding: 10px 50px;
  text-align: right;
  margin-left: 65%;
}

.purposeText {
  position: absolute;
  top: 40px;
  left: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #ffffff;
  width: 45%;
  line-height: 1.5;
  padding: 10px 20px;
  background-color: #22222299;
  border-style: solid;
  border-color: #222222;
  border-width: 1px;
  float: right;
}

#UIdilemma {
  position: relative;
  bottom: -100px;
  display: flex;
  100vh;
}

.UIdrive {
  top: auto;
  width: 45%;
  float: left;
  margin-left: auto;
  margin-right: 20px;
}

.UIreverse {
  width: 45%;
  margin-left: 20px;
  margin-right: auto;
}

/* style the groups
  --------------------------------------------- */
#group1 {
  z-index: 4;
  /* slide over group 2 */
}

#group1 .parallax__layer--base {
  background-color: #cccccc;
}

#group2 {
  z-index: 3;
  /* slide under groups 1 and 3 */
}

#group2 .parallax__layer--back {}

#group3 {
  z-index: 4;
  /* slide over group 2 and 4 */
}

#group3 .parallax__layer--base {}

#group4 {
  z-index: 2;
  /* slide under group 3 and 5 */
}

#group4 .parallax__layer--deep {}

#group5 {
  z-index: 3;
  /* slide over group 4 and 6 */
}

#group5 .parallax__layer--base {}

#group6 {
  z-index: 4;
  /* slide under group 5 and 7 */
}

#group6 .parallax__layer--back {}

#group7 {
  z-index: 3;
  /* slide over group 7 */
}

#group7 .parallax__layer--base {}

/*Code for animated side bar  */
/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
