/* Color Theme Swatches in Hex */
/* .sepia-1-hex { color: #E6DFD6; }
.sepia-2-hex { color: #CEBEAA; }
.sepia-3-hex { color: #B1997D; }
.sepia-4-hex { color: #9B7F5D; }
.sepia-5-hex { color: #4F391E; } */
/* Color Theme Swatches in Hex */
/* .upholstery-1-hex { color: #332B21; }
.upholstery-2-hex { color: #1E1E1E; }
.upholstery-3-hex { color: #9B3220; }
.upholstery-4-hex { color: #46848F; }
.upholstery-5-hex { color: #441D47; } */
/* Default Layout (Mobile) */
body {
  display: grid;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0px;
  background-color: #B1997D;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  font-kerning: auto;
  color: #000;
  font-size: 2em;
  text-align: center;
  z-index: 10;
  margin-top: 5px;
  margin-bottom: 0;
}

section#bkg header h1 {
  display: grid;
  position: relative;
  grid-row: 2 / 3;
  z-index: 6;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  font-kerning: auto;
  color: #000;
  font-size: 1.5em;
  text-align: left;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto auto;
  margin: 0;
  grid-row: 1 / 8;
  z-index: 1;
}

section#bkg {
  display: grid;
  position: fixed;
  grid-row: 1 / 3;
  width: 100%;
  padding: 0 0 1em 0;

  background-color: #B1997D;
  z-index: 9;
  /* align-content: space-around; */
}

header {
  display: grid;
  position: absolute;
  height: 11em;
  /* grid-auto-flow: column; */
  top: 0;
  text-align: center;
  grid-row: 1 / 2;
  /* padding-left: 10%;
  padding-right: 10%; */
  margin: 0px auto 0 auto;
  /* margin-top: 20px; */
  width: 100%;
  z-index: 10;
}

.mesh {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/1x/mesh01.png");
  opacity: .5;
  background-clip: border-box;
  background-repeat: round;
  background-position: top left;
  height: 11em;
  grid-row: 1 / 3;
  width: 100%;
  z-index: 12;
}

.BUlogo {
  display: grid;
  width: 40%;
  position: relative;
  margin-top: 20px;
  padding-left: 30%;
  padding-right: 30%;
  opacity: 1;
  grid-row: 1 / 2;
  z-index: 14;
}

nav {
  position: relative;
  display: grid;
  top: 11em;
  border-top: 3px solid #E6DFD6;
  border-bottom: 3px solid #E6DFD6;
  width: 100%;
  text-align: center;
  z-index: 5;
  grid-row: 2 / 5;
}

a:link {
  display: grid;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  border-top: 1px solid #E6DFD6;
  border-bottom: 1px solid #E6DFD6;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #9B3220;
  width: 100%;
  padding-top: .4em;
  padding-bottom: .4em;
  margin-left: auto;
  margin-right: auto;
}

a:hover {
  color: #441D47;
  border-top: 1px solid #E6DFD6;
  border-bottom: 1px solid #E6DFD6;
}

a:visited {
  color: #9B3220;
  border-top: 1px solid #E6DFD6;
  border-bottom: 1px solid #E6DFD6;
}

section#content {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  position: relative;
  grid-row: 4 / 7;
  width: 100%;
  z-index: 2;
}

section#content main h1 {
  position: relative;
}

.trim {
  height: 120px;
  position: relative;
  display: grid;
  opacity: 1;
  background-image: url(../img/SVG/laceTrim.svg);
  background-repeat: repeat-x;
  grid-row: 5 / 6;
  z-index: 6;
}

#content.lace {
  display: grid;
  background-image: url(../img/SVG/lace01.svg);
  background-clip: border-box;
  background-position: left top;
  background-repeat: round;
  opacity: .5;
  grid-row: 6 / 8;
  width: 100%;
  z-index: 4;
}

h2 {
  font-family: Graduate, Georgia, "Times New Roman", Times, serif;
  color: green;
  text-shadow: black 1px 1px 1px;
  font-weight: normal;
  margin: 0;
  padding: .25em 0 .25em 0;
  border-bottom: 1px solid #ccc;
}

footer {
  display: grid;
  font-family: Graduate, Georgia, "Times New Roman", Times, serif;
  background-color: green;
  color: white;
  padding: .5em;
  text-align: center;
  grid-row: 8 / 9;
  z-index: 2
}

/*........................Media Queries (responsive to screen width) */
@media all and (min-width: 30em) {
  .container {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    margin: 0;
    grid-row: 1 / 5;
    z-index: 1;
    height: 100vh;
  }

  h1 {
    font-size: 2.5em;
  }
  section#bkg {
    display: inline-grid;
    position: fixed;
    grid-row: 1 / 3;
    width: 100%;
    z-index: 9;
    background-color: #B1997D;
    padding: 0 0 1em 0;

  }

  header {
    display: grid;
    position: absolute;
    height: 11em;
    top: 0;
    left: 15em;
    text-align: left;
    grid-row: 1 / 2;
    margin: 0 auto 0 auto;
    width: 100%;
    z-index: 10;
  }



  .BUlogo {
    display: grid;
    width: 312px;
    position: relative;
    margin-top: 20px;
    padding-left: 10%;
    padding-right: auto;
    opacity: 1;
    grid-row: 1 / 2;
    z-index: 14;
  }

  nav {
    display: inline-grid;
    position: relative;
    top: 11em;
    border-top: 3px solid #E6DFD6;
    border-bottom: 3px solid #E6DFD6;
    grid-column-gap: 2em;
    display: inline-grid;
    width: 100%;
    grid-row: 2 / 3;
  }

  section#content {
    display: grid;
    position: relative;
    left: auto;
    grid-template-columns: repeat(3fr);
    grid-row: 3 / 5;
    z-index: 2;
    width: 100%;

  }
}

@media all and (min-width: 50em) {
  h1 {
    position: absolute;
    display: grid;
    text-align: left;
    left: 400px;
    grid-row: 2/ 3;
    font-size: 2.5em;
    margin-left: 0;
    margin-right: 0;
  }

  .mesh {
    display: grid;
    background-image: url("../img/1x/mesh01.png");
    opacity: .5;
    background-clip: border-box;
    background-repeat: round;
    background-position: top left;
    height: 13.5em;
    grid-row: 1 / 2;
    width: 100%;
  }

  .BUlogo {
    display: grid;
    position: relative;
    width: 312px;
    float: left;
    padding-left: 50px;
    opacity: 1;
    grid-row: 1 / 4;
    z-index: 3;
  }

  .menu {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3fr);
    border-top: 3px solid #E6DFD6;
    border-bottom: 3px solid #E6DFD6;
    background-color: #E6DFD666;
    padding: 4px;
    margin: 0;
    grid-row: 2 / 3;

  }

  nav {}

  nav a:link {
    margin-right: 1em;
  }

  #content main {
    position: relative;
    clear: both;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2em;
    z-index: 3;
    grid-row: 7 / 9;

  }

  nav {
    width: 30%;
    grid-template-columns: 1fr;
  }

  nav a {
    margin-right: 1em;
  }

  body {
    /* max-width: 960px; */
    margin: 0em auto;
  }
}
