/* Color Theme Swatches in Hex */
/* .sepia-1-hex { color: #E6DFD6; }
.sepia-2-hex { color: #CEBEAA; }
.sepia-3-hex { color: #B1997D; }
.sepia-4-hex { color: #9B7F5D; }
.sepia-5-hex { color: #4F391E; } */
/* Color Theme Swatches in Hex */
/* .upholstery-1-hex { color: #332B21; }
.upholstery-2-hex { color: #1E1E1E; }
.upholstery-3-hex { color: #9B3220; }
.upholstery-4-hex { color: #46848F; }
.upholstery-5-hex { color: #441D47; } */
/* Default Layout (Mobile) */
body {
  display: grid;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0px;
  background-color: #B1997D;
  /* background-color: #B1997D; */
}

h1 {
  display: grid;
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  font-kerning: auto;
  color: #000;
  font-size: 2em;
  text-align: center;
  grid-row: 3/ 4;
  z-index: 3;
  margin-top: 5px;
  margin-bottom: 0;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  font-kerning: auto;
  color: #000;
  font-size: 1.5em;
  text-align: left;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto auto;
  margin: 0;
}

#bkg {
  display: grid;
  position: fixed;
  grid-row: 1 / 4;
  width: 100%;
  padding: 1em 0 1em 0;
  /* align-content: space-around; */
}

header {
  display: grid;
  position: inherit;
  /* grid-auto-flow: column; */
  top: 0;
  text-align: center;
  grid-row: 1 / 3;
  /* padding-left: 10%;
  padding-right: 10%; */
  margin: 1.5em auto 0 auto;
  /* margin-top: 20px; */
  width: 100%;
}

.mesh {
  display: grid;
  position: inherit;
  top: 0;
  left: 0;
  background-image: url("../img/1x/mesh01.png");
  opacity: .5;
  background-clip: border-box;
  background-repeat: round;
  background-position: top left;
  height: 11em;
  grid-row: 1 / 3;
  width: 100%;
  z-index: 1;
}

.BUlogo {
  display: grid;
height: 6em;
  position: relative;
  padding-left: 30%;
  padding-right: 30%;
  margin: 0 auto 0 auto;
  opacity: 1;
  /* margin-right: auto;
  margin-left: auto; */
  grid-row: 1 / 2;
  z-index: 3;
}

nav {
  width: 100%;
}

.menu {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  top: 15em;
  grid-column-gap: 2em;
  display: inline-grid;
  border-top: 3px solid #E6DFD6;
  border-bottom: 3px solid #E6DFD6;
  background-color: #E6DFD666;
  padding-left: 10%;
  padding-right: 10%;
  grid-row: 3 / 4;
}

/* nav { */
/* display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  grid-column-gap: 2em;
  display: inline-grid; */
/* border-top: 3px solid #E6DFD6;
  border-bottom: 3px solid #E6DFD6;
  background-color: #E6DFD666; */
/* padding-left: 10%;
  padding-right: 10%; */
/* width: 100%; */
/* top: 15em; */
/* grid-row: 3 / 4;
  z-index: 10;
} */
nav a {
  display: grid;
  color: #900;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: .6em;
  padding-bottom: .6em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  grid-row: 3 / 4;
}

#content {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  top: 16em;
  grid-row: 3 / 8;
  z-index: 1;
}

main .trim {
  height: 8em;
  position: relative;
  display: grid;
  background-position: left top;
  background-image: url(../img/SVG/laceTrim.svg);
  background-repeat: repeat-x;
  grid-row: 4 / 5;
  z-index: 6;
}

h2 {
  font-family: Graduate, Georgia, "Times New Roman", Times, serif;
  color: green;
  text-shadow: black 1px 1px 1px;
  font-weight: normal;
  margin: 0;
  padding: .25em 0 .25em 0;
  border-bottom: 1px solid #ccc;
}

footer {
  display: grid;
  font-family: Graduate, Georgia, "Times New Roman", Times, serif;
  background-color: green;
  color: white;
  padding: .5em;
  text-align: center;
  grid-row: 6 / 7;
}

/*........................Media Queries (responsive to screen width) */
@media all and (min-width: 30em) {
  .container {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    height: 100vh;
  }

  .BUlogo {
    display: grid;
    width: 312px;
    position: relative;
    padding-left: 30%;
    padding-right: 30%;
    margin: 0 auto 0 auto;
    opacity: 1;
    /* margin-right: auto;
    margin-left: auto; */
    grid-row: 1 / 2;
    z-index: 3;
  }
}

@media all and (min-width: 50em) {
  h1 {
    position: relative;
    left: 18em;
  }

  #mainimg {
    width: 70%;
    float: right;
  }

  .menu {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    /*
    position: relative;
    grid-column-gap: 2em;
    display: inline-grid; */
    border-top: 3px solid #E6DFD6;
    border-bottom: 3px solid #E6DFD6;
    background-color: #E6DFD666;
    /* padding-left: 10%;
    padding-right: 10%; */
    /* width: 100%; */
    top: 15em;
    grid-row: 3 / 4;
    z-index: 9;
  }

  nav {}

  nav a {
    margin-right: 1em;
  }

  main {
    position: relative;
    clear: both;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2em;
  }

  h1 {
    color: red;
    padding-bottom: .1em;
  }

  nav {
    width: 30%;
    grid-template-columns: 1fr;
  }

  nav a {
    margin-right: 1em;
  }

  body {
    /* max-width: 960px; */
    margin: 0em auto;
  }
}
